<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <hr>
<!--       <app-servers></app-servers>-->
      <br>
      <label>Username:</label>
      <input type="text" class="form-control" [(ngModel)]="username"/>
      <br>
      <p>{{ username }}</p>
      <br>
      <button class="brn btn-primary>" [disabled]="username === ''"
      (click)="username =''" >Reset User</button>
      <!-- === check something = to assign value-->
    </div>
  </div>
</div>

